[user]
	name = Koichi Tanaka
	email = k.tanaka@everyleaf.com
[core]
	excludesfile = /Users/koichi/.gitignore_global
	editor = vim
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[http]
	sslVerify = false
[color]
	ui = auto
[alias]
	co = checkout
	b = branch
	d = diff
	cob = checkout -b
