[user]
	name = Koichi Tanaka
	email = k.tanaka@everyleaf.com
[core]
	excludesfile = ~/.gitignore_global
	editor = vim
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[http]
	sslVerify = false
[color]
	ui = auto
[alias]
	c = commit
	co = checkout
	a = add
	st = status
	b = branch
	ba = branch -a
	lg = log
	lgg = log --graph
	d = diff
	tree = log --pretty=oneline --decorate --graph
	treeall = log --pretty=oneline --decorate --graph --all
  ta = log --pretty=oneline --decorate --graph --all
